{% extends "global/base.html" %}
{% block content %}
  <div class="single-contact">
    <h1 class="single-contact-name">
      {{ contact.first_name }} {{ contact.last_name }}
    </h1>

    <p><b>ID:</b> {{ contact.id }}</p>
    <p><b>E-mail:</b> {{ contact.email }}</p>
    <p><b>Telefone:</b> {{ contact.phone }}</p>
    <p><b>Data de Criação:</b> {{ contact.created_date }}</p>
    <p><b>Descrição:</b> {{ contact.description }}</p>
    <p><b>Categoria:</b> {{ contact.category.name }}</p>
    {% if contact.picture %}
      <p><img src={{ contact.picture.url }}></p>
    {% endif %}
    <div class="contact-links"> 
    <a href="{% url 'update' contact.id %}" class="btn btn-link">Editar</a>
    <form action="{% url 'delete' contact.id %}" method="POST">
        {% csrf_token %}
        {% if deleting == 'y' %}
        <input type="text" name="confirmation" value="y" hidden>
        <button class="btn btn-link btn-delete">Confirmar deleção</button>
        {% else %}
        <input type="text" name="confirmation" value="n" hidden>
        <button class="btn btn-link btn-delete">Deletar</button>
        {% endif %}
    </form>
    </div>
  </div>
{% endblock content %}